content/schemas/DISC-Logistics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="qualified"
		   >

	<xs:include schemaLocation="DISC-Common.xsd"/>
	
	<xs:complexType name="shipmentType">
		<xs:all>
			<xs:element name="client_order_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ecert_required" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="ecert_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="transport_method" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="dispatch_pallet_type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="container_size_type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="tracked" type="booleanType" minOccurs="0" maxOccurs="1" />
			<xs:element name="priority" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="special_instructions" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="container_setpoint" type="temperatureType" minOccurs="0" maxOccurs="1" />
			<xs:element name="dispatch_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipped_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="received_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="completed_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="committed_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_owner_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_owner_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_operator_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_operator_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_sender" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_address" type="addressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="origin_contact" type="contactType" minOccurs="0" maxOccurs="1" />
			<xs:element name="earliest_pickup_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="latest_pickup_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_owner_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_owner_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_operator_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_operator_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_address" type="addressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="destination_contact" type="contactType" minOccurs="0" maxOccurs="1" />
			<xs:element name="earliest_dropoff_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="latest_dropoff_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="carrier_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="carrier_operator_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="carrier_operator_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipping_company" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipping_booking_reference" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipping_cutoff_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="voyage_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="vessel_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="vessel_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="port_of_loading" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="port_of_discharge" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="port_of_destination" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="feeder_vessel_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipped_qty" type="quantityType" minOccurs="0" maxOccurs="1" />
			
			<xs:element name="net_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="gross_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="total_amt_net" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="tax_amt" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="total_amt_gross" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="additional_properties" type="additionalPropertiesType" minOccurs="0" maxOccurs="1" />
		</xs:all>
	</xs:complexType>


	<xs:complexType name="handlingUnitType">
		<xs:sequence>
			<xs:element name="barcode" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="sscc_barcode" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="request_line_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="handling_unit_type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="pallet_type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="container_size_type" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="type_description" minOccurs="0" maxOccurs="1" />
			<xs:element name="seal_number" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="type" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="tare_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="net_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="gross_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="volume" type="volumeType" minOccurs="0" maxOccurs="1" />
			<xs:element name="length" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="height" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="width" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="qty" type="quantityType" minOccurs="0" maxOccurs="1" />
			<xs:element name="temperature" type="temperatureType" minOccurs="0" maxOccurs="1" />			
			<xs:element name="total_item_count" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="items" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="item" type="itemType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="additional_properties" type="additionalPropertiesType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>


	<xs:complexType name="itemType">
		<xs:all>
			<xs:element name="barcode" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="sscc_barcode" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="request_line_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="tracked" type="booleanType" minOccurs="0" maxOccurs="1" />
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="packaging" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="product_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="qty" type="quantityType" minOccurs="0" maxOccurs="1" />
			<xs:element name="gross_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="net_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="volume" type="volumeType" minOccurs="0" maxOccurs="1" />
			<xs:element name="length" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="height" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="width" type="linearType" minOccurs="0" maxOccurs="1" />
			<xs:element name="pack_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="expiry_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipped_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="serial_number" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="lot" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="product_total_count" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="special_instructions" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipping_marks" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="markets" type="marketsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="products" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="item_product">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="qty" type="xs:decimal" use="required" />
										<xs:attribute name="uom" type="xs:string" use="required" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="additional_properties" type="additionalPropertiesType" minOccurs="0" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>


	<xs:complexType name="marketsType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="marketList">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="market" type="xs:string" />
					</xs:sequence>
					<xs:attribute name="type" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="shipReqDetailType">
		<xs:sequence>
			<xs:element name="product_code" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="qty" type="quantityType" minOccurs="0" maxOccurs="1" />
			<xs:element name="tracked" type="booleanType" minOccurs="0" maxOccurs="1" />
			<xs:element name="lot" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shipping_marks" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="load_group" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="pack_date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="gross_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="net_weight" type="weightType" minOccurs="0" maxOccurs="1" />
			<xs:element name="unit_price_net" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="discount_pcnt" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="discount_amt" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="total_amt_net" type="xs:decimal" minOccurs="0" maxOccurs="1" />
			<xs:element name="special_instructions" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="additional_properties" type="additionalPropertiesType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>

</xs:schema>